.contactItem {
    display: flex;
    justify-content: space-between;
    background-color: #D4DCCD;
    padding: 12px;
    margin-top: 8px;
    border-radius: 8px;
    gap: 12px;
    list-style: none;
}

.contactDetails {
    color: #1d0d15;
    text-align: center;
}

.deleteButton {
    color: #D4DCCD;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    background-color:#6B717E;
    color: #D4DCCD;
}


.deleteButton:hover {
    background-color: #6B717E;
}