.contactForm {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 20px 0;
    width: 300px;
}

.inputField {
    margin-bottom: 10px;
}

.input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 600px;
}

.button {
    background-color: #6B2737;
    color: #D4DCCD;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #F6828C;
}